/* 輸入欲放入的 CSS 選擇器*/
.one.two{
    background-color: rgba(255,0,0,0.8);
    //height: 100%;
}

.one .two{
    background-color: rgba(0,255,0,0.8);
    height: 100%;
}

.one,.two{
    background-color: rgba(0,0,255,0.8);
    height: 100%;
}

/* CSS For Decoration */
html, body{
    background-color: #2C5D63;
    font-family: "微軟正黑體";
    color: #DFEBED;
    font-weight: bold;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: space-around;
}
.box{
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid #DFEBED;
    border-radius: 5px;
    text-align: center;
}