#container {
    width: 100%;
    height: 100%;
    text-align: center;
}

#puzzle {
    height: 300px;
    width: 300px;
    background-color: red;
    margin: auto;
}

#puzzleTable {
    height: 100%;
    text-align: center;
    font-size: 10vh;
    align-self: center;
}

.current {
    background-color: white;
    color: white;
}